
.container-banner{
    display: flex;
    background-color: #a66879;
    
}

.texto-banner{
    background-color: #a66879;
    margin-top: 30px;
    width: 1000px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.texto-banner p{
    background-color: #a66879
}

.big{
    background-color: #a66879;
    font-size: 150px;
    color: white;
    margin-right: 550px;
    width: 800px;
}
.big-voce{
    font-size: 120px;
    color: white;
    margin-right: 550px;
    width: 300px;
    background-color: #a66879;
}

.texto-legenda{
    font-size: 40px;
    color: white;
    padding-left: 30px;
    width: 650px;
    background-color: #a66879
}

.texto-legenda strong{
    color: #650416;
    background-color: #a66879
}

.bg-imag{
    background-image: url("../../assets/mocinha-oculos.png");
    background-size: 1350px;
    background-position: 0px ;
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-color: #a66879;
    
}

.divisor{
    width: 100%;
    height: 3px;
    background-color: black;
}


.imgs-mid{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.abacaxi{
    background-image: url("../../assets/abacaxi.png");
    background-repeat: no-repeat;
    height: 500px;
    width: 500px;
}
.garotinho{
    background-image: url("../../assets/garotinho.png");
    height: 500px;
    background-repeat: no-repeat;
    width: 500px;
}
.hamilton{
    background-image: url("../../assets/hamilton.png");
    height: 500px;
    background-repeat: no-repeat;
    width: 500px;
}

.carrosel {
    height: 500px;
    width: 500px;
}
.txtCar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    gap: 300px;
    height: 500px;
    margin-bottom: 200px;

}
.txtCar p{
    width: 800px;
}
.imgs-mid{
    width: 800px;
}
.tudo1{
    display: flex;
    justify-content: center;
    align-items: center;
}
