*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #B6AEAA;
    width: 100%;
}

.tudoHome{
    display: flex;
    flex-direction: column;
}
.tudoHome h1{
    text-shadow: -5px 5px #650416;
}
.tudoHome h2{
    text-shadow: 5px 1px #B6AEAA;
}
.container-banner{
    display: flex;
    background-color: #a66879;
    justify-content: space-between;
    align-items: center;
    width: 100vh;
    height: 60vh;
    overflow: hidden;
}

.texto-banner{
    font-size: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fff;   
}

.texto-banner h2{
    color: #fff;
    font-size: 110px;
    padding-right: 40%;
}

.texto-banner h1{
    font-size: 110px;
    color: #fff;
    font-family: 'trocchi';
    font-weight: 100;
    padding-right: 10%;
}

.texto-banner strong{
    color: #650416;
    background-color: #a66879
}

.bg-imag{
    width: 100%;
    height: 500px;
    display: flex;
    background-color: #a66879;
}

.bg-imag img{
    width: 50%;
    height: 100%;
    border: none;
    filter: saturate(1.5);
}

.divisor{
    width: 100%;
    height: 3px;
    background-color: black;
}

.imgs-mid{
    width: 1000px;
    height: 100px;
    
}

.garotinho{
    background-image: url("../../assets/garotinho.png");
    height: 500px;
    background-repeat: no-repeat;
    width: 500px;
}

.hamilton{
    background-image: url("../../assets/hamilton.png");
    height: 500px;
    background-repeat: no-repeat;
    width: 500px;
}

.carrosel {
    height: 500px;
    width: 500px;
}

.txtCar{
    display: flex;
    justify-content: space-around;
    padding: 80px;
    width: 100%;
    height: 600px;
}

.txtCar p{
    font-family: 'Trocchi', serif;
    width: 100vh;
    height: 60vh;
    padding: 1px;
}
.texto-car{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 31px;
    width: 210vh;
    text-indent: 20px;
}
