*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

nav{
    background-color: #650416;
    color: azure;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    gap: 45px;
}

a{
    color: azure;
    text-decoration: none;
}
.cabecalho img{
    cursor: pointer;
}

#logo{
    height: 80px;
    width: 80px;
}
#local{
    height: 60px;
    width: 150px;
}