*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
}

ul{
    background-color: #650416;
    color: azure;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    gap: 45px;
    
    list-style: none
}

a{
    color: azure;
    text-decoration: none;
    width: 100px;
}

img{
    cursor: pointer;
}
#logo{
    height: 80px;
    width: 80px;
}
#local{
    height: 60px;
    width: 150px;
}