*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.tudo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 400px;
    max-width: 1280px;
    margin: 0 auto;
   
}
.cima{
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    margin: 200px;
}
.baixo{
    height: 100px;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;  
}

.footer{
    margin-top: 167px;
}